<ul class="position-list">
    <li ui-sref="position({id : item.id})" class="item bg-w p-r" ng-repeat="item in data|searchFilter:filterObj">
        <img class="logo f-l" ng-src="{{item.imageUrl}}" alt="">
        <h3 class="title" ng-bind="item.job"></h3>
        <p class="text" ng-bind="item.companyName + '[' + 
            item.cityName + ']' + item.industryName + '| ' + item.scaleName"></p>
        <span class="salary c-r" ng-bind="item.salaryName"></span>
        <p class="text" ng-bind="item.date"></p>
    </li>
    
</ul>